.fileDiv {
    display: flex;
}

.fileExtension {
    padding: 0.3rem 0;
    margin-left: .3rem;
}

.inputFileName {
    flex: 1;
    padding: .5rem 0.3rem;
    word-wrap: break-word;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
    border: 1px solid var(--border-input-color);
    border-radius: 3px;
}

.inputFileName:focus {
    border: 1px solid var(--header-color);
    outline: none;
}

.submitDiv {
    padding: 1rem 0rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.submitButton {
    padding: .5rem 0.6rem;
    border-radius: 3px;
    background: var(--button-color);
    color: white;
    border: none;
}