.fileItem {
    min-height: 200px;
    max-width: 100%;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    padding: .8rem;
    color: var(--text-black-color);
    cursor: pointer;
}

.fileSelected {
    border-color: var(--file-selected-border-color);
    background-color: var(--file-selected-background-color);
}

.filePreview {
    height: calc(100% - 2.5rem);
    display: flex;
    align-items: center;
}

.filePreview>svg {
    color: var(--header-color);
    font-size: 4rem;
    margin: auto;
}

.fileInfo {
    height: 2.5rem;
}

.fileName {
    font-weight: 500;
}

.fileDateModify {
    text-align: center;
    font-size: .8rem;
}

.fileDateModify, .fileName {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}