html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --header-color: #0F766E;
  --actionbar-color: #F0FDFA;
  --border-color: #edebe9;
  --hover-button-actionbar-color:rgba(0,0,0,.12);
  --text-black-color: rgb(32, 31, 30);
}